.shirt_bg {
    vertical-align: middle; 
    height: 378px;
    width: 378px;
    /*outline: 1px solid;*/
}
.shirt_bg_1 {
    background-image: url("./img/shirt/men_white_1.jpg"), url("./img/shirt/men_white_1.jpg");
} 
.shirt_bg_2 {
    background-image: url("./img/shirt/men_black_2.jpg"), url("./img/shirt/men_black_2.jpg");
}     
.shirt_bg_17 {
    background-image: url("./img/shirt/men_royalblue_17.jpg"), url("./img/shirt/men_royalblue_17.jpg");
}
.shirt_bg_4 {
    background-image: url("./img/shirt/men_navy_4.jpg"), url("./img/shirt/men_navy_4.jpg");
}
.shirt_bg_388 {
    background-image: url("./img/shirt/men_divablue_388.jpg"), url("./img/shirt/men_divablue_388.jpg");
}
.shirt_bg_594 {
    background-image: url("./img/shirt/men_deepmint_594.jpg"), url("./img/shirt/men_deepmint_594.jpg");
}
.shirt_bg_92 {
    background-image: url("./img/shirt/men_kellygreen_92.jpg"), url("./img/shirt/men_kellygreen_92.jpg");
}
.shirt_bg_5 {
    background-image: url("./img/shirt/men_red_5.jpg"), url("./img/shirt/men_red_5.jpg");
}

.overlay-img {
    /*width: 99px;
    height: 143px;*/
    margin-top: 50px;
    margin-left: 139px; /* 378 / 2 minus 99 / 2 */
}

#choose-product-color img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

small, .small {
    font-size: 85%;
}

.btn_checkout {
    margin-top: 5px;
    /*border: 1px solid transparent*/ /*does not work, seems that it does not overwrite .btn*/
}
    
.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-weight: bold;
    padding: 6px 22px 6px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    *line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    /*
    color: #333;
    background-color: #f2f2f2;
    background-image: -moz-linear-gradient(top, #fafafa, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa),
        to(#e6e6e6) );
    background-image: -webkit-linear-gradient(top, #fafafa, #e6e6e6);
    background-image: -o-linear-gradient(top, #fafafa, #e6e6e6);
    background-image: linear-gradient(to bottom, #fafafa, #e6e6e6);
    */
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9',
        endColorstr='#ffe5e5e5', GradientType=0 );
    border: 1px solid #ccc;
    /*
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    */
    *background-color: #e6e6e6;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false );
    *border: 0;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    *margin-left: .3em;
}

.container-box .btn-clr-select {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 29px;
    width: 29px;
    padding: 0;
}

.btn-rect {
    padding: 3px;
    font-size: 12px;
    line-height: 20px;
}

.container-box .btn-clr-select,.container-box .btn-size-select {
    margin: 5px 10px 10px 0;
    transition: all .3s;
    background: #fff;
    -webkit-transition: all .01s ease;
    -moz-transition: all .01s ease;
    -o-transition: all .01s ease;
    transition: all .01s ease;
    border-radius: 0;
    text-shadow: none;
}

.container-box .btn-size-select {
    font-weight: normal;
    display: inline-block;
    width: 34px;
    margin: 5px 10px 10px 0;
}

.btn-size-active {
    border: 3px solid #1ed0c3;   
}

.btn-clr-select-active {
    border: 3px solid #1ed0c3;    
}
