body {
    background-color: #F5F5FF;
    margin-bottom: 1em;
}

div.page {
    background-color: white;
    box-shadow: 0 0 0.5em #999999;
}

div.page .navbar {
    margin: 0 -15px;
}

.jumbotron {
    background-color: #f6a828;
    color: white;
    margin: 15px -15px;
}

.only-revealed {
    display: none;
}

h1 {
    text-align: center;
}

h1.main-title {
    font-size:550%;
    margin-bottom: 0.3em;
}

.entry-point-col {
    text-align: center;
    margin-bottom: 1.5em;
}

.entry-point-primary {
    text-align: center;
}

.entry-point {
    border:1px solid white;
    border-radius:10%;
    background:rgba(255,255,255,0.5);
    padding: 2em;
}

.entry-point-primary .btn-primary {
    font-size:2em;
}

.dimension.bordered {
    margin-bottom: 1em;
    border: 1px solid gray;
}

.dimension.bordered.complete {
    border: 2px solid #5cb85c;
}

.dimension.bordered.incomplete {
    border: 2px solid #d9534f;
}

.dimension .panel-heading {
    text-align: center;
    font-weight: bold;
}

.dimension .panel-body ul {
    list-style-type: none;
    padding: 0;
}

.result .ui-accordion-header.marked {
    border: 2px solid #f6a828;
}

.ui-accordion-content a {
    text-decoration: underline;
}

.ui-accordion-content a:hover {
    text-decoration: none;
    color: #d9534f;
}

.ui-accordion {
    margin: 0.5em;
}

.about-authors {
	text-align: center	
}

footer {
    border-top:1px solid gray; 
    text-align:center; 
    color: gray; 
    padding-top: 2em; 
    padding-bottom: 2em;
}

@media screen and (max-width:480px) {
    h1.main-title {
        font-size:350%;
    }
    
    .entry-point-col.entry-point-primary img {
        height: 150px;
    }
    
    .entry-point-col img {
        height: 100px;
    }
}

@media print {
    #types div {
        display: block !important;
    }
    
    a.dont-print-url:after {
        content: "";
    }
}

/* diagnostic boxes */
.box {
  fill: steelblue;
  stroke: black;
  stroke-width: 3;
}

.txt {
  color: white;
  stroke: white;
  text-anchor: middle; 
  font-size: 1.5em; 
  font-family: Arial;
}

/* Result statistics */
.bar {
  fill: steelblue;
}

.baractive {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.x.axis path {
  display: none;
}
