@font-face {
    font-family: 'Metamorphous';
    src: url('fonts/Metamorphous-Regular.ttf') format('truetype');
}

h1, h2, h3, .card-header, .btn, .navbar {
    font-family: 'Metamorphous';
}

body {
    background-color: #F5F5FF;
    margin-bottom: 1em;
}

.page {
    background-color: white;
    box-shadow: 0 0 0.5em #999999;
}

.page .navbar {
    margin: 0 -15px;
}

.jumbotron {
    background-color: #f6a828;
    color: white;
    margin: 15px -15px;
}

.jumbotron p {
    font-size: 21px;
}

.jumbotron h1 {
    font-size: 36px;
}

@media screen and (min-width: 768px) {
        .jumbotron h1 {
        font-size: 63px;
    }
}

.only-revealed {
    display: none;
}

h1 {
    text-align: center;
}

h1.main-title {
    font-size:550%;
    margin-bottom: 0.3em;
}

h2 {
    text-align: center;
    font-size: 20px;
}

#amount_survey_participants {
	font-size: 120%;
	font-weight: bold;
}

.entry-point-col {
    text-align: center;
    margin-bottom: 1.5em;
}

.entry-point-primary {
    text-align: center;
}

.entry-point {
    border:1px solid white;
    border-radius:10%;
    background:rgba(255,255,255,0.5);
    padding: 2em;
}

.entry-point-primary .btn-primary {
    font-size:2em;
}

.dimension.bordered {
    margin-bottom: 1em;
    border: 1px solid gray;
}

.dimension.bordered.complete {
    border: 2px solid #5cb85c;
}

.dimension.bordered.incomplete {
    border: 2px solid #d9534f;
}

.dimension .card-header {
    text-align: center;
    font-weight: bold;
}

.dimension .card-body ul {
    list-style-type: none;
    padding: 0;
}

.dimension label {
    font-weight:normal;
}

.result .ui-accordion-header.marked {
    border: 2px solid #f6a828;
}

.ui-accordion-content a {
    text-decoration: underline;
}

.ui-accordion-content a:hover {
    text-decoration: none;
    color: #d9534f;
}

.ui-accordion {
    margin: 0.5em;
}

.about-authors {
	text-align: center;
}

#legaldisclosure {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

footer {
    border-top: 1px solid gray; 
    text-align: center; 
    color: gray; 
    padding-top: 2em; 
    padding-bottom: 2em;
}

#cover{
    position:fixed;
    top:0;
    left:0;
    z-index:5;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    display:none;
}

#overlay {
    position:fixed;
    width: 35em;
    height: 20em;
    top: 50%;
    left: 50%;
    margin-bottom: -50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: 5px solid #cccccc;
    border-radius:10px;
    padding: 2.5em;
    background-color: white;
    text-align: center;
    display: none;
}

#overlay .cancel {
    display:block;
    position:absolute;
    top:3px;
    right:10px;
    color:black;
    font-size:30px;
    text-decoration:none;
    font-weight:bold;
    cursor: pointer;
}

#overlay .btn {
    margin: 0.5em;
}

@media screen and (max-width:480px) {
    h1.main-title {
        font-size:350%;
    }
    
    .entry-point-col.entry-point-primary img {
        height: 150px;
    }
    
    .entry-point-col img {
        height: 100px;
    }
}

@media print {
    #types div {
        display: block !important;
    }
    
    a.dont-print-url:after {
        content: "";
    }
}

/* diagnostic boxes */
.box {
    fill: steelblue;
    stroke: black;
    stroke-width: 3;
}

.txt {
    color: white;
    stroke: white;
    text-anchor: middle; 
    font-size: 1.5em; 
    font-family: Arial;
}

/* Result statistics */
.bar {
    fill: steelblue;
}

.baractive {
    fill: brown;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.x.axis path {
    display: none;
}

.typeicon {
    margin-bottom: 2em;
}

.typelegend {
    margin-top: 2em;
}

.legendicon {
    margin-top: .3em;	
}

.legendicon td {
    padding: 10px 0px 0px 5px;
}

.certificate {
    font-size: 10pt;
    width: 18cm;
    border: 0.5cm solid #F6A828 !important;
    border-radius: 1cm;
    -webkit-border-radius: 1cm;
    -moz-border-radius: 1cm;
    padding: 1cm;
}

.certificate dl {
    margin: 10px;
}

#coat-of-arms {
    text-align: center;
    margin-bottom: 2em;
}

.certheader {
    text-align: center;
    font-size: 1.5em; 
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.certificate .dimension-description {
    margin-bottom:2em;
}

.certificate .qr {
    margin-top: 1cm;
    text-align: right;
    font-size: 14pt;
    vertical-align: bottom;
}

.spreadshirt_disclaimer {
	margin-top: 10px;
	font-size: 0.8em;
	color: darkgray;
}

.donation_row {
    text-align: center;
}

@page {
    margin: 1.5cm;
}

/* TODO: does not work properly */
/* less than A4 = US Letter, P4, etc. */
@media print and (max-height:22cm) {
    .certificate {
        padding-bottom: 0.5em;
    }
    .certificate .qr {
        margin-top: 0cm;
    }
}

