.shirt_bg {
    vertical-align: middle; 
    height: 378px;
    width: 378px;
    background-repeat: no-repeat;
    background-size: 378px 378px;
}


/* men shirts */
.shirt_bg_1 {
    background-image: url("./img/shirt/men_white_1.png");
} 
.shirt_bg_2 {
    background-image: url("./img/shirt/men_black_2.png");
}     
.shirt_bg_17 {
    background-image: url("./img/shirt/men_royalblue_17.png");
}
.shirt_bg_4 {
    background-image: url("./img/shirt/men_navy_4.png");
}
.shirt_bg_388 {
    background-image: url("./img/shirt/men_divablue_388.png");
}
.shirt_bg_92 {
    background-image: url("./img/shirt/men_kellygreen_92.png");
}
.shirt_bg_5 {
    background-image: url("./img/shirt/men_red_5.png");
}
.shirt_bg_231 {
    background-image: url("./img/shirt/men_heathergrey_231.png");
}


/* women shirts */
.shirt_bg_1_fem {
    background-image: url("./img/shirt/women_white_1.png");
}
.shirt_bg_2_fem {
    background-image: url("./img/shirt/women_black_2.png");
}
.shirt_bg_258_fem {
    background-image: url("./img/shirt/women_royalblue_258.png");
}
.shirt_bg_4_fem {
    background-image: url("./img/shirt/women_navy_4.png");
}
.shirt_bg_388_fem {
    background-image: url("./img/shirt/women_divablue_388.png");
}
.shirt_bg_92_fem {
    background-image: url("./img/shirt/women_kellygreen_92.png");
}
.shirt_bg_5_fem {
    background-image: url("./img/shirt/women_red_5.png");
}
.shirt_bg_231_fem {
    background-image: url("./img/shirt/women_heathergrey_231.png");
}

.overlay-img {
    /*width: 99px;
    height: 143px;*/
    margin-top: 60px;
    margin-left: 139px; /* 378 / 2 minus 99 / 2 */
}

.shirt-config {
    display: inline-block;
    cursor: pointer;

    margin: 5px;
    border: 1px solid #757575;
    background: white;
    padding: 3px;
    font-size: 14px;
    text-align: center;
}

.shirt-config-color {
    height: 29px;
    width: 29px;
    padding: 0;
    vertical-align: middle;
}

.shirt-config-color img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.shirt-config-size {
    width: 34px;
}

.shirt-config-active {
    border: 3px solid #1ed0c3;   
}

#checkout_area {
    margin-top: 5px;
}
